@import './fonts.css';
@import './flickity.css';



$bg-color: pink;

body {
  background: $bg-color;
}
h1 {
  font-family: "MyriadPro";
  font-size: 40px;
}

main {
  text-align: center;
}

/* Section HEADER */






